nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 15px;
    padding: 5px;
    text-decoration: none;
    color: white
}

nav a:hover {
    color: #ccc;
}

.active {
    color: white;
}


